main {
    padding: 180px;
}

.email_gallery {
    max-width: 1110px;
    align-items: center;
    columns: 350px;
    padding: 0;
    transition: .5s;
}

.email_card {
    max-width: 300px;
    justify-items: auto;
    filter: drop-shadow(10px 10px 10px rgb(0, 0, 0, .25));
}

.email_card a {
    display:inline-flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
}

.email_card img {
    width: 100%;
    padding: 12px 0;
    
}

@media (max-width: 1110px) and (min-width: 730px) {

    main {
        display: grid;
        column-gap: 30px;
        grid-template-columns: repeat(8, 65px);
        margin: 0 auto;
        padding: 100px;
    }

    .email_gallery {
        max-width: 730px;
    }
        
}

@media (max-width: 730px) {

    main {
        display: grid;
        column-gap: 30px;
        grid-template-columns: repeat(4, 65px);
        margin: 0 auto;
        padding: 100px;
    }

    .email_gallery {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 350px;
    }
}
