{% macro menucard(title, description, technologies, link=url_for('javascript_counter.index'), image=url_for('static', filename='images/Portfolio_Image_Template.png')) %}
<article class="card">
    <div class="card_heading_grid">
        <a href="{{ link }}"><img src="{{ image }}"/></a>
    </div>
    <div class="card_text">
        <h2>{{title}}</h2>
        <p>{{description}}</p>
        <div class="technology_buttons">
            {% for tech in technologies %}
                <span class="tech_btn">{{tech}}</span>
            {% endfor %}
        </div>
    </div>
</article>
{% endmacro %}