h3 {
    font-weight: bolder;
}

.chat_title {
    display: flex;
    padding-bottom: 0px;
    height: auto;
    grid-column: 1/-1;
}

.chat-app, .info {
    display: flex;
    align-items: baseline;
    flex-direction: column;
    width: 100%;
    padding-top: 0px;
}

.chat-app {
    grid-column: 1/7;
    grid-row: 2;
}

.info {
    grid-column: 7/-1;
    grid-row: 2;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.chat-app .name {
    display: flex;
    width: 100%;
    justify-content: space-between;
    input {
        width: 85%;
    }
}

.chat-app .join {
    display: flex;
    justify-content: space-between;
    align-items: center;
    input {
        width: 50%;
        height: 27px;
    } button {
        width: auto;
        padding: 0px 15px 0px;
    }
}

.chat-app .create{
    width: 100%;
}

.about {
    padding-bottom: 24px;
}

@media (max-width: 1110px) and (min-width: 730px) {

    main {
        display: grid;
        column-gap: 30px;
        grid-template-columns: repeat(8, 65px);
        margin: 0 auto;
        max-width: 730px;
    }

    .chat_title {
        display: flex;
        justify-content: center;
        padding-bottom: 0px;
        height: auto;
        grid-column: 1/-1;
    }

    .chat-app {
        align-items: center;
        grid-row: 2;
        grid-column: 1/-1;
    }
    
    .info {
        grid-row: 3;
        grid-column: 1/-1;
    }
        
}

@media (max-width: 730px) {

    main {
        display: grid;
        column-gap: 30px;
        grid-template-columns: repeat(4, 65px);
        margin: 0 auto;
        max-width: 350px;
    }

    .chat_title {
        display: flex;
        justify-content: center;
        padding-bottom: 0px;
        height: auto;
        grid-column: 1/-1;
    }

    .chat-app {
        align-items: center;
        grid-row: 2;
        grid-column: 1/-1;
    }
    
    .info {
        grid-row: 3;
        grid-column: 1/-1;
    }
}

