main {
    max-width: 1110px;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    grid-gap: 30px;
    grid-template-columns: repeat(12, 65px);
    margin: 0 auto;
}

.portfolio_title {
    padding-bottom: 0px;
}

@media (max-width: 1110px) and (min-width: 730px) {
    main {
        max-width: 730px;
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        grid-gap: 30px;
        grid-template-columns: repeat(8, 65px);
        margin: 0 auto;
    }
}

@media (max-width: 730px){

    h1 {
        line-height: 100%;
        margin-bottom: 0px;
    }

    main {
        max-width: 350px;
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        grid-gap: 30px;
        grid-template-columns: repeat(4, 65px);
        margin: 0 auto;
    }

    section {
        padding: 24px 0 ;
    }

    .portfolio_title article {
        text-align: center;
    }
}

section.title {
    display: grid;
    margin: 120px 0 10px;
}

article.title_area {
    display: grid;
    width: 100%;
    justify-items: center;
}

article.filter_areas {
    display: flex;
}

article.filter_areas h3 {
    display: flex;
    padding: 0 10px;
}

div.filter_buttons {
    display: grid;
    justify-items: center;
    padding: 0 10px;
}

div.filter_buttons button {
    width: 100%;
}


section.grid_cards{
    display: grid;
    grid-column: span 12;
    grid-template-columns: inherit;
    grid-gap: 30px;
}

.card {
    display: grid;
    height: fit-content;
    grid-template-columns: inherit;
    grid-column: span 4;
    grid-template-rows: auto 40%;
    border-radius: 10px;
    border: 5px solid darkred;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    text-decoration: none;

    .card_heading_grid {
        display: flex;
        grid-column: inherit;
        grid-row: 1 / 2;
        justify-content: center;
        width: 340px;
        height: 320px;

        img {
            border-radius: 5px;
            height: fit-content;
            width: fit-content;
        }
    }

    .card_text {
        display: flex;
        flex-direction: column;
        grid-column: inherit;
        grid-row: 2 / 3;
        padding: 0 24px 0 24px;
        height: 260px;
        width: 340px;

        .technology_buttons {
            display: flex;
            flex-wrap: wrap;
            padding-top: 12px;

            .tech_btn {
                background-color: darkred;
                color: #fff;
                padding: 6px;
                margin: 0 0 6px 3px;
                border-radius: 10px;
            }
        }
    }
}