section {
  display: grid;
  grid-template-areas: 
  "input map map"
  "text map map";
} 

article.text_input_container {
  grid-area: input;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-content:end;
  
  input, label{
    align-self: self-start;
    width: 50%;
  }
  label {
    font-weight: bolder;
  }

  div {
    display: flex;
    span p {
    padding-left: 10px;
    font-size: small;
    }
  }
}

article.text_detail_container {
  grid-area: text;
  font-weight: bolder;

  span {
    font-weight: normal;
  }
}

article.map_info_container {
  grid-area: map;
  min-height: 40vh;
}

.construction {
  font-size: small;
  color: grey;
}

#map {
  height: 100%;
}