section {
  display: grid;
  grid-template-areas: 
  "input map map"
  "text map map";
}

article.text_input_container {
  grid-area: input;
  /* outline: solid red 2px; */
  display: flex;
  flex-direction: column;
  
  input, label{
    align-self: center;
    width: 80%;
  }
}

article.text_detail_container {
  grid-area: text;
  /* outline: solid red 2px; */
}

article.map_info_container {
  grid-area: map;
  /* outline: solid red 2px; */
  height: 80vh;
}

.construction {
  font-size: small;
  color: grey;
}