<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Infinite Loop Error</title>
</head>
<body>
    <h1>{{code}}</h1>
    <h2>The problem is {{reason}} and it will be taken care of as soon as</h2>
    <h3>The problem is {{reason}} and it will be taken care of as soon as</h3>
    <h4>The problem is {{reason}} and it will be taken care of as soon as</h4>
    <h5>The problem is {{reason}} and it will be taken care of as soon as</h5>
    <h6>The problem is {{reason}} and it will be taken care of as soon as</h6>
</body>
</html>