{% extends "layout/base.html"%}
{% from "macros/menu_grid_macro.html" import menucard%}
{% block title %}Tobi's Portfolio{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='main/css/menu_grid.css')}}">
{% endblock %}

{% block content %}

<section class="portolio_title">
    <article>
        <h1>Portfolio Projects</h1>
        <p></p>
    </article>
</section>

<section class="grid_cards">
    {{menucard("Chat App", "Small Chat App made with the Flask Framework and WebSockets.",technologies= ["Python", "WebSockets", "Flask","JavaScript"], link=url_for('chat_app.index'),image=url_for('static', filename='main/images/chat_app_placeholder.png'))}}
    {{menucard("Parcel Viewer", "A searchable database UI for 2020 Kansas City Land Bank's realestate invetory.",technologies= ["Python", "Open Street Map API", "LeaFlet API", "Flask", "JavaScript"], link=url_for('parcel_viewer.maps'), image=url_for('static', filename='main/images/parcel_viewer_placeholder_small.png'))}}
    {{menucard("Javascript Counter", "A simple javascript incrimental counter.",technologies= ["HTML", "CSS", "JavaScript"],image=url_for('static', filename='main/images/counter_placeholder.png'))}}
    {{menucard("Email Templates", "Email Template Gallery.",technologies= ["HTML", "Inline CSS"],link=url_for('email.index'),image=url_for('static', filename='main/images/email_thumbnail.png'))}}
    {{menucard("Texas Toms", "A redesign for a local restraunts website.",technologies= ["HTML", "Inline CSS"], link=url_for('texas_toms.index'), image=url_for('static', filename='main/images/texas_toms_placeholder.png'))}}
    {{menucard("Pixel Art", "Art that I use for developer projects and also for fun.", link=url_for('pixel_art.index'), image=url_for('static', filename='main/images/PixelArt Thumbnail.png'))}}
</section>

{% endblock %}