<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Template</title>
</head>

<body style="margin: 0;">

    <center class="wrapper" style="width: 100%;table-layout: fixed;background-color: #888888;padding-bottom: 60px;">

        <table class="main" width="100%"
            style="border-spacing: 0;width: 100%;max-width: 600px;color: #44413d;text-align: center;box-shadow: 0 0 0 0 rgba(0,0,0,0);">
            <tr>
                <td style="padding: 0;">
                    <table width="100%" style="border-spacing: 0;">

                        <tr>
                            <td style="padding: 25px 0 20px; text-align: center;">
                                <a href="https://tobitheghost.com"><img
                                        src="https://www.tobitheghost.com/static/pixel_art/images/Small%20Logo%20v2%20300%20percent.png"
                                        alt="Tobi Logo" width="360" style="border: 0;"> </a>
                            </td>
                        </tr>

                    </table>
                </td>
            </tr>
        </table>

        <table class="main" width="100%"
            style="border-spacing: 0;width: 100%;max-width: 600px;color: #44413d;text-align: center;box-shadow: 0 0 0 0 rgba(0,0,0,0);">
            <tr>
                <td
                    style="padding: 0;background-color: #fff;border-radius: 50px;box-shadow: 0px 10px 10px rgba(0,0,0,.35);">
                    <table width="100%" style="border-spacing: 0;">

                        <tr>
                            <td style="padding: 24px 0px; text-align:center;">
                                <h1 style="font-size: 36px; margin: 0;color: #000;">Howdy Website Visitor  </h1>
                            </td>
                        </tr>

                        <tr>
                            <td style="padding: 0px 18px; text-align:center;">
                                <h3 style="font-size: 18PX; font-weight: 400; margin: 0; text-align:justify;">
                                    I hope you like my email template, if you want to see this in action, send me a email and I will use this template to reply back to you. 
                                </h3>
                            </td>
                        </tr>

                        <tr>
                            <td style="padding: 5px 0px 36px; text-align:center;">
                                <p style="font-size: 18PX; font-weight: bolder;">
                                    I Hope to hear back from you!
                                </p>

                            </td>
                        </tr>

                        <tr>
                            <td style="padding: 0px; text-align:center;">

                            </td>
                        </tr>

                    </table>
                </td>
            </tr>
        </table>

        <table class="main" width="100%"
            style="border-spacing: 0;width: 100%;max-width: 600px;color: #44413d;text-align: center;box-shadow: 0 0 0 0 rgba(0,0,0,0);">
            <tr>
                <td style="padding: 0;">
                    <table width="100%" style="border-spacing: 0;">

                        <tr>
                            <td style="padding: 25px 0 20px;">
                                <a href="https://github.com/Tobitheghost"><img
                                        src="https://www.tobitheghost.com/static/email_templates/images/tobi_candice/github.png"
                                        alt="Github Logo" width="30" style="border: 0;"> </a>
                            </td>
                            <td style="padding: 25px 0 20px;">
                                <a href="https://www.linkedin.com/in/tobitheghost/"><img
                                        src="https://www.tobitheghost.com/static/email_templates/images/tobi_candice/linkedin.png"
                                        alt="Linkedin Logo" width="30" style="border: 0;"> </a>
                            </td>
                            <td style="padding: 25px 0 20px;">
                                <a href="https://x.com/A_sourkat"><img
                                        src="https://www.tobitheghost.com/static/email_templates/images/tobi_candice/twitter.png"
                                        alt="Twitter Logo" width="30" style="border: 0;"> </a>
                            </td>
                            <td style="padding: 25px 0 20px;">
                                <a href="https://www.instagram.com/a_sourkat/"><img
                                        src="https://www.tobitheghost.com/static/email_templates/images/tobi_candice/instagram.png"
                                        alt="Instagram Logo" width="30" style="border: 0;"> </a>
                            </td>
                            <td style="padding: 25px 0 20px;">
                                <a href="https://mastodon.social/@A_sourkat"><img
                                        src="https://www.tobitheghost.com/static/email_templates/images/tobi_candice/mastodon.png"
                                        alt="Mastodon Logo" width="30" style="border: 0;"> </a>
                            </td>
                        </tr>
                    </table>

                    <table width="100%" style="border-spacing: 0;">
                        <tr>
                            <td style="padding: 0;">
                                <a style="text-decoration:none;" href="https://tobitheghost.com">
                                </a>
                                <p style="color: white; font-weight:bolder;">TobiTheGhost.com</p>

                            </td>
                        </tr>
                    </table>

                </td>
            </tr>
        </table>
    </center>
</body>

</html>