<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Template</title>
</head>
<body>
    <style type="text/css">
        body {
            margin: 0;
        }
        table {
            border-spacing: 0;
        }
        td {
            padding: 0;
        }
        img {
            border: 0;
        }

        .wrapper {
            width: 100%;
            table-layout: fixed;
            background-color: rgb(80, 80, 80);
            padding-bottom: 60px;
        }

        .main {
            width: 100%;
            max-width: 600px;
            color: #44413d;
            text-align: center;
        }
    </style>
    
    <!-- Logo -->

    <center class="wrapper">
        
    <table class="main" width="100%">
        <tr>
            <td style="padding: 0;">
                <table width="100%" style="border-spacing: 0;">

                    <tr>
                        <td style="padding: 25px 0 20px; text-align: center;">
                            <a href="https://tobitheghost.com"><img src="https://www.tobitheghost.com/static/main/images/logo.png" alt="Tobi Logo" width="360" style="border: 0;"> </a>
                        </td>
                    </tr>

                </table>
            </td>
        </tr>
    </table>

    <!-- Body -->

    <table class="main" width="100%">
        <tr>
            <td style="padding: 0; background-color:#fff; border-radius:5%;">
                <table width="100%" style="border-spacing: 0;">

                    <tr> <!-- heading -->
                        <td style="padding: 24px 0px; text-align:center;">
                            <h1 style="font-size: 36px; margin: 0;color: #44413d;">Howdy Recipient </h1>
                        </td>
                    </tr>

                    <tr> <!-- Text 1 -->
                        <td style="padding: 0px 18px; text-align:center;">
                            <h3 style="font-size: 18PX; font-weight: 400; margin: 0; text-align:justify;">
                                I hope you're having a wonderful day. I'm going to fill the rest of the text space up with "filler text" if thats ok.
                                "You, Me, Gas Station. What are we getting for dinner? Sushi of course! Uh Oh, there was a roofie inside of our gas station sushi. 
                                We black out and wake up in a sewer. We’re surrounded by fish. Horny fish. You know what that means? Fish orgy! The stench draws in a bear. 
                                What do we do? We’re gonna fight it. Bear fight, bare handed, bare naked? Oh, yes please! We befriend the bear after we beat it in a brawl, 
                                and we ride it into a Chuck E. Cheese™️. Dance. Dance. Revolution. Revolution, overthrow the government? Uh, I think so. Next thing you know, 
                                I’m reincarnated as Jesus Christ. I turn into a jet, fly into the sun, and black out again. Wake up, white out, which I didn’t know you could 
                                do, then I smoked a joint, GREENED out, then I turned into the sun. Uh oh, looks like the meth is kickin’ in, duzubuzupzudahaha, AAAAH! "
                            </h3>
                        </td>
                    </tr>

                    <tr> <!-- Text 2 -->
                        <td style="padding: 5px 0px 36px; text-align:center;">
                            <p style="font-size: 18PX; font-weight: bolder;">
                                I Hope to hear back from you!
                            </p>

                        </td>
                    </tr>

                    <tr> <!-- Button -->
                        <td style="padding: 0px; text-align:center;">

                        </td>
                    </tr>

                </table>
            </td>
        </tr>
    </table>

    <!-- Footer -->
    
    <table class="main" width="100%">
        <tr>
            <td style="padding: 0;">
                <table width="100%" style="border-spacing: 0;">

                    <tr>
                        <td>
                            <a href="https://tobitheghost.com">
                                <p style="color: black; font-weight:bolder;">TobiTheGhost.com</p>
                            </a>
                        </td>
                    </tr>

                </table>
            </td>
        </tr>
    </table>
</center>

</body>
</html>