<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Naruto x TMNT Abandoned Cart Email</title>
</head>

<body style="margin: 0; font-family:Arial, Helvetica, sans-serif;">
    <center class="wrapper" style="width: 100%;table-layout: fixed;background-color: #fff;padding-bottom: 60px;">

        <table class="main" width="100%"
            style="border-spacing: 0;width: 100%;max-width: 600px;color: #fff;text-align: center;box-shadow: 0 0 0 0 rgba(0,0,0,0);">
            <tr>
                <td style="padding: 0;">
                    <table width="100%" style="border-spacing: 0;">
                        <tr>
                            <td style="padding: 25px 0 20px; text-align: center; background-color: #414042;">
                                <a href="https://idwpublishing.com/"><img src="https://www.tobitheghost.com/static/email_templates/images/naruto_x_tmnt/IDW_2025_ext.logo_coral.png"
                                        alt="idwpublishing Logo" width="360" style="border: 0;"> </a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

        <table class="main" width="100%"
            style="border-spacing: 0;width: 100%;max-width: 600px;color: #fff;text-align: center;box-shadow: 0 0 0 0 rgba(0,0,0,0);">
            <tr>
                <td style="padding: 0;">

                    <table width="100%" style="border-spacing: 0;">
                        <tr>
                            <td style="padding: 0px 0px; text-align:center;">
                                <a href="https://idwpublishing.com/"><img
                                        src="https://www.tobitheghost.com/static/email_templates/images/naruto_x_tmnt/TMNT_x_Naruto.jpg"
                                        alt="TMNT_x_Naruto Comic" width="360" style="border: 0;"> </a>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 0px 0px; text-align:center;">

                                <table width="100%" style="border-spacing: 0;background-color: #d5695e;">
                                    <tr>
                                        <td style="padding: 0px 18px; text-align:center;">
                                            <h1 style="font-size: 40px; font-weight: 900;">Don’t forget your comic
                                            </h1>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 0px 0px 0px; text-align:center;">
                                            <h2 style="font-size: 24px; margin-top:0;">Teenage Mutant Ninja Turtles x
                                                Naruto #1 - IDW Hardcover Exclusive
                                            </h2>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 18px 0px 54px; text-align:center;">
                                            <a href="https://idwpublishing.com/products/teenage-mutant-ninja-turtles-x-naruto-1-exclusive?variant=51675496120684"
                                                style="padding: 18px 18px; text-align:center; background-color: #414042; height: 36px; color:#fff; border-radius:5px;">CHECK
                                                OUT WITH 15% OFF</a>
                                        </td>
                                    </tr>
                                </table>

                            </td>
                        </tr>
                    </table>

                </td>
            </tr>
        </table>

        <table class="main" width="100%"
            style="border-spacing: 0;width: 100%;max-width: 600px;color: #fff;text-align: center;box-shadow: 0 0 0 0 rgba(0,0,0,0);">
            <tr>
                <td style="padding: 0;">

                    <table width="100%" style="border-spacing: 0;">
                        <tr>
                            <td style="padding: 48px 0px 0px;color: #414042;">
                                <p style="padding: 0px 0px 0px; margin: 0px; font-size: 12px;">No longer Want To Receive
                                    These Emails?</p>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 0px 0px 0px;color: #d5695e;">
                                <a style="font-size: 12px;">Unsubscribe</a>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 0px 24px 0px;color: #414042;">
                                <p style="font-size: 12px;">You Are Receiving This Email Because You Have Subscribed To
                                    Our Mailing List Or Have Previously Expressed Interest In Receiving Updates From Us.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 0px 24px 0px;color: #414042;">
                                <p style="font-size: 12px;">Please Note: Discounts Cannot Be Combined With Other
                                    Promotions/Offers, Are Not Applicable To Previous Purchases, Are Of Limited
                                    Duration, & May Be Discontinued Or Modified Without Prior Notice.</p>
                            </td>
                        </tr>
                    </table>

                </td>
            </tr>
        </table>
        
    </center>

</body>

</html>