{% extends "layout/base.html"%}

{% block title %}Parcel Viewer{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{url_for('static', filename='parcel_viewer/css/parcel_viewer.css')}}" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
  <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
<section>

  <article class="search_title"><h1>Parcel Viewer</h1></article>

  <article class="text_input_container">
    <label for="addressInput">Search By Address:</label>
    <div class="input_text">
      <input type="text" list="parcel_entires" id="addressInput" name="address_input" placeholder="Enter House Numbers"
        autocomplete="off" hx-get="/search" hx-trigger="keyup changed delay:500ms" hx-target="#searchOutput"/>
    </div>

    <div class="text_search_output">
      <div id="searchOutput" class="search_output">
          <p>No Address Entered</p>
      </div>
    </div>
  </article>

  <article class="map_info_container">
    <div id="map"></div>
  </article>
  
  <article class="text_detail_container" id="text_detail_container">
    <p>Address: <span id="queryAddress"></span></p>
    <p>Owner Name: <span id="ownerName"></span></p>
    <p>Owner Name (2): <span id="ownerName2"></span></p>
    <p>Land Use: <span id="landUse"></span></p>
    <p>Effective Date: <span id="effectiveDate"></span></p>
    <p>Assessed Land Value: <span id="assessedLand"></span></p>
    <p>Assessed Improved Value: <span id="assessedImproved"></span></p>
  </article>

  
</section>

<script>

  let map = L.map('map').setView([51.505, -0.09], 13);

  L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
          maxZoom: 19,
          attribution: '© OpenStreetMap'
      }).addTo(map);
  
      let latlngs = [['39.277105911797', '-94.573555314885'], ['39.277129788807', '-94.573314917428'], ['39.277042649122', '-94.573300520356'], ['39.277042188595', '-94.573305170383'], ['39.277018793306', '-94.573540916807'], ['39.277105911797', '-94.573555314885']]
      let polygon = L.polygon(latlngs, {color: 'red'}).addTo(map);
      map.fitBounds(polygon.getBounds());

  function updateMap(polyString) {
    let polygon = L.polygon(polyString, {color: 'red'}).addTo(map);
    
    map.fitBounds(polygon.getBounds());
  }

</script>

{% endblock %}